nav {
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', cursive;
}

nav p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;

}
