.tweet {
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tweet header {
  background-color: #f5f1ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4em;
  padding: 0 10px 0 10px;
  align-content: center;
}

header .handle {
  margin-left: auto;
}

header .user {
  margin-left: 10px;
}

.tweet-content {
  padding: 10px;
  text-align: center;
}

.tweet-content textarea {
  border: none;
  border-bottom: 5px solid #545149;
  width: 90%;
  background-color: #f5f1ed;
  height: 2.8em;
}

.tweet footer {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer .icons-container {
  margin-left: auto;
}
.tweet img {
  width: 3em;
  height: 3em;
}
.tweet:hover {
  box-shadow: 5px 10px #6e85d2;
}

@media only screen and (min-width: 768px) {
  .tweet {
    margin-top: 0;
  }
}
